footer.footer
    .container
        div(style='float: left')
            p.text-muted.align-center 개발 : 전자및정보공학과 양해찬 (KUHAS)
        div(style='float: right')
            p#goSejong.text-muted.align-right.copyright 개인정보취급방침
        //p.text-muted.align-left asdf
        //p.text-muted Place sticky footer content here.

script
    | $("#goSejong").click(function() {window.open('/public/privacy.html')})
