//- 로그인 페이지 :: Layout 없이 한꺼번에 구성.

doctype html
html(ng-app='kudoc')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 고려대학교 세종캠퍼스 온라인 학생설문시스템

        script(src='/public/bower/angular/angular.min.js')
        //- script(src='/public/bower/angular-route/angular-route.min.js')

        script(src='/public/bower/jquery/dist/jquery.min.js')
        script(src='/public/bower/bootstrap/dist/js/bootstrap.min.js')
        link(rel='stylesheet', href='/public/bower/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/bower/font-awesome/css/font-awesome.min.css')

        link(rel='stylesheet', href='/public/stylesheets/base.css')
        link(rel='stylesheet', href='/public/stylesheets/container.css')
        link(rel='stylesheet', href='/public/stylesheets/fwhelp.css')
        link(rel='stylesheet', href='/public/stylesheets/gateway.css')
        link(rel='stylesheet', href='/public/stylesheets/element/kuele.css')
        link(rel='stylesheet', href='/public/stylesheets/font.css')
        link(rel='stylesheet', href='/public/stylesheets/footer.css')

        script(src='/public/javascripts/kudoc_guest.js')
        script(src='/public/javascripts/controller/login.js')
        script(src='/public/javascripts/live2skull_helper.js')
        script(src='/public/javascripts/loginMod.js')

    body
        include navbar_nologin
        div.background

        div.gateway-selection.content(ng-controller='loginController')

            .gateway-login.container
                h3 개인정보보호법에 따른 개인정보처리방침 동의 안내문
                iframe(src='/public/privacy.html', width="100%", height="250px")

                //.row
                //    .col-md-6.col-sm-6
                //
                //        center(style='margin-top: 20px')
                //            img(src='/public/images/logo-fixed-large.png').gateway-splash
                //            h4.ku-htext.ku-htext-main 고려대학교 세종캠퍼스
                //            h4.ku-htext.ku-htext-main 온라인 학생설문시스템
                //
                //
                //    .col-md-6.col-sm-6
                //        .ku-form
                //            form.login-form
                //                //- input(ng-model='login.email', type='text', placeholder='Email address', ng-pattern='config.emailFormat')
                //                input#login_id(ng-model='login.id', type='text', placeholder='포털 아이디')
                //                input#login_pw(ng-model='login.pw', type='password', placeholder='포털 비밀번호')
                //                p.message
                //
                //        button.btn.ku-button(ng-click='click.startLogin()', type='button', style='width: 100%')
                //            i.fa.fa-id-card-o.fa-12x.fa-neg &nbsp;&nbsp;로그인 (SSO)
                //        button.btn.ku-button(ng-click='click.testLogin()', type='button', style='width: 100%')
                //            i.fa.fa-id-card-o.fa-12x.fa-neg &nbsp;&nbsp;테스트 모드 (데모)
                hr
                h5 개인정보보호 동의 안내문은 본 시스템에 처음 로그인하셨을 때만 나타나며, 동의하시게 되면 더이상 이 안내문이 표시되지 않습니다.
                h5 개인정보처리방침에 동의하지 않으실 경우, 개인정보보호법에 따라 본 시스템을 이용하실 수 없습니다.

                button.btn.ku-button(ng-click='click.applyAgreement()', type='button', style='width: 100%')
                    i.fa.fa-times.fa-12x.fa-neg &nbsp;&nbsp;동의하지 않습니다.
                button.btn.ku-button(ng-click='click.regectAgreement()', type='button', style='width: 100%')
                    i.fa.fa-check.fa-12x.fa-neg &nbsp;&nbsp;약관을 모두 읽었으며, 이에 동의합니다.


        include footer
