//- 로그인 페이지 :: Layout 없이 한꺼번에 구성.
//- http://hellomrma.com/wp/ios-10-%EB%AA%A8%EB%B0%94%EC%9D%BC%EC%9B%B9-pinch-to-zoom-%EA%B8%B0%EB%8A%A5/

doctype html
html(ng-app='kudoc')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
        title 고려대학교 세종캠퍼스 온라인 학생설문시스템

        script(src='/public/bower/angular/angular.min.js')
        //- script(src='/public/bower/angular-route/angular-route.min.js')

        script(src='/public/bower/jquery/dist/jquery.min.js')
        script(src='/public/bower/bootstrap/dist/js/bootstrap.min.js')
        link(rel='stylesheet', href='/public/bower/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/bower/font-awesome/css/font-awesome.min.css')

        link(rel='stylesheet', href='/public/stylesheets/base.css')
        link(rel='stylesheet', href='/public/stylesheets/container.css')
        link(rel='stylesheet', href='/public/stylesheets/fwhelp.css')
        link(rel='stylesheet', href='/public/stylesheets/gateway.css')
        link(rel='stylesheet', href='/public/stylesheets/element/kuele.css')
        link(rel='stylesheet', href='/public/stylesheets/font.css')
        link(rel='stylesheet', href='/public/stylesheets/footer.css')

        script(src='/public/javascripts/kudoc_guest.js')
        script(src='/public/javascripts/controller/login.js')
        script(src='/public/javascripts/live2skull_helper.js')
        script(src='/public/javascripts/loginMod.js')

    body
        include navbar_nologin

        //- div.container-fluid.gateway.image

        div.background

        div.gateway-selection.content(ng-controller='loginController')

            //iframe#loginFrame(src='http://portal.korea.ac.kr/front/Intro.kpd', width="0px", height="0px")
            .gateway-login.container

                .row
                    .col-md-6.col-sm-6

                        center(style='margin-top: 20px')
                            img(src='/public/images/logo-fixed-large.png').gateway-splash
                            h4.ku-htext.ku-htext-main 고려대학교 세종캠퍼스
                            h4.ku-htext.ku-htext-main 온라인 학생설문시스템


                    //- WARNING:: 서버 업로드 시 계정 정보 지울 것
                    .col-md-6.col-sm-6
                        .ku-form
                            form.login-form
                                //- input(ng-model='login.email', type='text', placeholder='Email address', ng-pattern='config.emailFormat')
                                input#login_id(ng-model='login.id', type='text', placeholder='포털 아이디')
                                input#login_pw(ng-model='login.pw', type='password', placeholder='포털 비밀번호')
                                p.message

                        button.btn.ku-button(ng-click='click.startLogin()', type='button', style='width: 100%')
                            i.fa.fa-id-card-o.fa-12x.fa-neg &nbsp;&nbsp;로그인 (SSO)
                        button.btn.ku-button(ng-click='click.testLogin()', type='button', style='width: 100%')
                            i.fa.fa-id-card-o.fa-12x.fa-neg &nbsp;&nbsp;교수 테스트 모드 (데모)

        include footer
