.fa-neg {
    color: #ffffff;}

.fa-12x {
    font-size: 1.3em !important;}

.fa-2x {
    font-size: 2em !important;}
.fa-3x {
    font-size: 3em !important;}
.fa-4x {
    font-size: 4em !important;}
.fa-5x {
    font-size: 5em !important;}

.fa-05x {
    font-size: 0.9em !important;}

.fa-size-create {
    font-size: 1.5em !important;
}
