
.chart-frame {
    /*min-width: 400px;*/
    max-width: 600px;
    /*margin-right: 20px;*/
    margin-bottom: 20px;
    display: inline-block;
    /*min-height: 400px;*/
}

.chart-name {
    font-size: 16px;
}

@media all and (min-width: 700px) {
    .chart-frame {
        margin-left: 2%;
        margin-right: 2%;
    }
}


@media all and (min-width: 375px) {
    .chart-frame {
        margin-left: 15px;
        /*margin-right: 2%;*/
    }
}

@media all and (min-width: 414px) {
    .chart-frame {
        margin-left: 35px;
        /*margin-right: 2%;*/
    }
}



.chart-name {
    font-weight: bold;
    /*text-align: center;*/
}




.stat-search {
    margin-top: 15px;
}

.stat-year {
    width: 160px;
}

.stat-survey {
    width: 400px;
}

.stat-list {
    margin-top: 15px;}

.stat-list-href {
    color: var(--ku-crimson-default);
}

@media screen and (max-width: 480px) {
    .stat-th-large {
        font-size: 12px !important;
    }
    .stat-th {
        font-size: 10px !important;
    }

    .stat-th-body {
        font-size: 11px !important;
    }
}

.stat-piechart {
    width: 100%;
    height: 100%;
}