extends layout

block content

    div#main-container.container(ng-controller='surveylistController')

        i.fa.fa-wpforms.fa-2x(style="margin-top: 20px")
            i.notice &nbsp;&nbsp;통계 자료 검색

        hr

        table#survey-list.table
            thead
                tr
                    th(width="50%") 제목
                    th(width="20%") 교수
                    th(width="30%") 부서
                    th(ng-show='checkValidateShow()', width="10%")
                        i.fa.fa-users
                    //th(ng-show='getScreenWidth() < 480', width="10%")
                    //    i.fa.fa-users
                    //th 완료
                    //th Share
                    //th More
            tbody
                tr(ng-click='click.goStat(survey.survey_id)', ng-repeat='survey in surveys')
                    th
                        a {{ survey.title }}
                    //td {{ survey.closed_at }}
                    td {{ survey.hak_name }}
                    td {{ survey.hak_depart }}
                    td(ng-show='checkValidateShow()') {{ survey.participants_cnt }}
                    td
                        //i(ng-show='!survey.complete').fa.fa-times
                        //i(ng-show='survey.complete').fa.fa-check-circle-o
                        //i.fa.fa-check-circle-o
                        //    | df
            tfoot
                tr
                    td(colspan='7')

    script(src='/public/javascripts/controller/surveylist.js')
    link(rel='stylesheet', href='/public/stylesheets/survey.css')