extends layout

block content

    div#main-container.container(ng-controller='listFormController')

        i.fa.fa-clipboard.fa-2x(style="margin-top: 20px")
            i.notice &nbsp;&nbsp;설문지 양식

        //div(style='margin-top: 10px')
        //    i.fa.fa-lightbulb-o(style='font-size: 1.5em; !important')
        //        i.notice &nbsp;&nbsp;참고사항
        h5 목록에서 설문을 선택하여 수정 및 삭제, 응답기간을 설정할 수 있습니다.
        h5 새 설문지를 생성하려면 "설문지 제작"을 누릅니다.

        hr.assign-hr-top
        div

            //i.fa.fa-window-restore.fa-2x
            //    i.notice &nbsp;&nbsp;검색결과

            table.table.stat-list
                thead
                    tr
                        th.stat-th-large(width="25%") 설문 이름
                        th.stat-th-large(width="10%") 종류
                        th.stat-th-large(width="20%") 제작 일시
                        th.stat-th-large(width="30%") 참여 기간
                        //th 부서(학과)
                        //th.stat-th 참여인원
                        //th.stat-th 마감여부
                        //th Share
                        //th More
                tbody
                    tr.stat-th-body(ng-click='click.goEdit(survey.survey_id)', ng-repeat='survey in surveys')
                        th {{ survey.title }}
                        td {{ solve.getType(survey.type) }}
                        td {{ survey.created_at }}
                        td {{ solve.getTime(survey) }}
                        //td {{ survey. }}
                        //td {{ submit.created_at }}
                        //td
                        //    i(ng-show='!survey.complete').fa.fa-times
                        //    i(ng-show='survey.complete').fa.fa-check-circle-o
                tfoot
                    tr
                        td(colspan='5')

        button.btn.ku-button(type='button', ng-click='click.goCreate()')
            i.fa.fa-plus.fa-neg.fa-12x &nbsp;&nbsp;설문지 제작

    script(src='/public/javascripts/controller/listform.js')
    link(rel='stylesheet', href='/public/stylesheets/assign.css')
    link(rel='stylesheet', href='/public/stylesheets/assign-c.css')