extends layout

block content

    div#main-container.container(ng-controller='submitListController')

        div#qid-search_result

            i.fa.fa-window-restore.fa-2x
                i.notice &nbsp;&nbsp;설문지 작성자

            table.table.stat-list
                thead
                    tr
                        th.stat-th-large 이름
                        th.stat-th-large 학번
                        th.stat-th-large 학부
                        th.stat-th-large 참여일자
                        th.stat-th-large 설문지명
                        //th 부서(학과)
                        //th.stat-th 참여인원
                        //th.stat-th 마감여부
                        //th Share
                        //th More
                tbody
                    tr.stat-th-body(ng-click='click.goAssign(submit.submit_id)', ng-repeat='submit in submits')
                        th {{ submit.hak_name }}
                            //a.stat-list-href {{ submit.hak_name }}
                        td {{ submit.hak_number }}
                        td {{ submit.department }}
                        td {{ submit.created_at }}
                        td {{ submit.survey_name }}
                        //td {{ survey.participants_cnt }} 명
                        //td
                        //    i(ng-show='!survey.complete').fa.fa-times
                        //    i(ng-show='survey.complete').fa.fa-check-circle-o
                tfoot
                    tr
                        td(colspan='5')



    script(src='/public/javascripts/controller/surveylistprof.js')
    link(rel='stylesheet', href='/public/stylesheets/assign.css')
    link(rel='stylesheet', href='/public/stylesheets/assign-c.css')