doctype html
html(ng-app='kudoc.login')
    head
        title 고려대학교 온라인 학생설문시스템
        //- link(rel='stylesheet', href='/public/stylesheets/style.css')

        script(src='/public/bower/angular/angular.min.js')
        script(src='/public/bower/jquery/dist/jquery.min.js')
        script(src='/public/bower/bootstrap/dist/js/bootstrap.min.js')
        link(rel='stylesheet', href='/public/bower/bootstrap/dist/css/bootstrap.min.css')
        //- script(src='/public/bower/angular-route/angular-route.min.js')

        script(src='/public/javascripts/login.js')
        script(src='/public/javascripts/publicAPI.js')
    body(ng-controller='loginController')
        div test

