extends layout

block content

    div#main-container.container(ng-controller='surveylistController')

        i.fa.fa-wpforms.fa-2x(style="margin-top: 20px")
            i.notice &nbsp;&nbsp;{{ func.getHeader() }}

        hr

        table#survey-list.table(ng-show="flag.showList")
            thead
                // 더 제대로 구현할려면 모바일, 데스크톱 버전 나누어 (width 구분) tr 2개를 배치했어야 함.

                // desktop
                tr(ng-show='checkValidateShow()')
                    th(width="35%") 제목
                    th 교수
                    th(width="15%") 부서
                    th(width="30%")
                        i.fa.fa-clock-o
                    th
                        i.fa.fa-users

                // mobile
                tr(ng-show='!checkValidateShow()')
                    th(width="50%") 제목
                    th(width="20%") 교수
                    th(width="30%") 부서

            tbody
                // desktop
                tr(ng-show='checkValidateShow()', ng-click='click.goAssign(survey.survey_id)', ng-repeat='survey in surveys')
                    th
                        a {{ survey.title }}
                    td {{ survey.hak_name }}
                    td {{ survey.hak_depart }}
                    td {{ survey.started_at + ' ~ ' + survey.closed_at }}
                    td {{ survey.participants_cnt }}

                // mobile
                tr(ng-show='!checkValidateShow()', ng-click='click.goAssign(survey.survey_id)', ng-repeat='survey in surveys')
                    th
                        a {{ survey.title }}
                    td {{ survey.hak_name }}
                    td {{ survey.hak_depart }}

            tfoot
                tr
                    td(ng-show='checkValidateShow()', colspan='5')
                    td(ng-show='!checkValidateShow()', colspan='3')

        div.container-fluid.no-padding.notify-nothing(ng-show="flag.showNothing")
            br
            h4 진행중인 설문이 없습니다!
            br

    script(src='/public/javascripts/controller/surveylist.js')
    link(rel='stylesheet', href='/public/stylesheets/survey.css')