extends layout

block content

    //div#main-container.container(ng-controller='surveylistController')
    div#main-container.container(ng-controller='submitListController')

        table#survey-list.table(ng-show="flag.isAvaliable")
            thead
                tr
                    th(width="50%") 제목
                    th(ng-show='checkValidateShow()', width="20%") 참여
                    th(width="20%") 부서
                    th(width="20%") 교수
                    //th(ng-show='getScreenWidth() < 480', width="10%")
                    //    i.fa.fa-users
                    //th 완료
                    //th Share
                    //th More
            tbody
                tr(ng-click='click.goView(submit.submit_id)', ng-repeat='submit in submits')
                    th
                        a {{ submit.title }}
                    //td {{ survey.closed_at }}
                    td(ng-show='checkValidateShow()') {{ submit.created_at }}
                    td {{ submit.hak_depart }}
                    td {{ submit.hak_name }}
                    //td(ng-show='checkValidateShow()') {{ survey.participants_cnt }}
                    //td
                        //i(ng-show='!survey.complete').fa.fa-times
                        //i(ng-show='survey.complete').fa.fa-check-circle-o
                        //i.fa.fa-check-circle-o
                        //    | df
            tfoot
                tr
                    td(colspan='7')

        div.container-fluid.no-padding.notify-nothing(ng-show="!flag.isAvaliable")
            br
            h4 참여한 설문이 없습니다.
            br


    script(src='/public/javascripts/controller/submitlist.js')
    link(rel='stylesheet', href='/public/stylesheets/survey.css')