//- http://codepen.io/shvffle/pen/bwpAEm
script(src='/public/javascripts/controller/navbar.js')
link(rel='stylesheet', href='/public/stylesheets/element/navbar.css')

//- nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller='navbar') fixed!
nav.navbar.navbar-inverse#application-navbar(ng-controller='navbarCtrl')
    .container-fluid
        .navbar-header
            a.navbar-brand
                span#navbar-brand-span.navbar-brand-span
                    // (style='color: #dcdcdc')
                    //-
                        img(src='/public/images/brand.png', alt='brand',
                        width="25px", height="25px", style='margin-left: 7px; margin-top: -2px;')
                    img#navbar-brand(src='/public/images/logo-fixed.png', alt='brand')
                    | &nbsp;&nbsp;고려대학교 세종캠퍼스 온라인 학생설문시스템
                //- img.navbar-brand(alt='Marina Marques', src='https://shvvffle.github.io/img/marina_marques_logo.png')
                //- img.navbar-brand()


            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#ResponsiveNav')
                span.icon-bar
                span.icon-bar
                span.icon-bar

        //- https://bootswatch.com/darkly/
        //- 활성 상태로 만들기 - .active (class!)

        #ResponsiveNav.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-effect
                li(ng-class='{"navbar-active" : checkURL("/student/list_ordinary")}')
                    a(href='/student/list_ordinary') 상시상담
                li(ng-class='{"navbar-active" : checkURL("/student/list_department")}')
                    a(href='/student/list_department') 학과설문
                li(ng-class='{"navbar-active" : checkURL("/student/list_university")}')
                    a(href='/student/list_university') 학교설문
                li(ng-class='{"navbar-active" : checkURL("/student/statistics")}')
                    a(href='/student/statistics') 통계자료
                li(ng-class='{"navbar-active" : checkURL("/student/submits")}')
                    a(href='/student/submits') 나의설문

            ul.nav.navbar-nav.navbar-right
                //<p class="navbar-text">Logged in as</p>
                p.navbar-text.navbar-message 로그인됨 : {{ user }}
                //li
                //    //a {{ message }}
                //    a 양해찬

        //- navbar-collapse

