extends layout

block content

    if (survey_id == undefined)
        input(type='hidden', value='', id='survey_id')
    else
        input(type='hidden', value=survey_id, id='survey_id')

    div#main-container.container(ng-controller='statController')

        h4
        h4(style='display: inline') 통계 자료 :&nbsp;
        h4.assign-title &nbsp;{{ survey.title }}
        br
        br

        i.fa.fa-lightbulb-o.fa-2x
            i.notice &nbsp;&nbsp;참고사항
        h5
        | 순위 지정 그래프는 각 순위별로 가장 많이 선택된 항목을 표시하며, 라벨을 선택하면 해당 항목을 제외할 수 있습니다.
        //| 순위 지정 그래프는 각 순위별로 가장 많이 선택된 항목을 표시하며, 그래프 상단의 라벨을 클릭하여 해당 항목을 숨길 수 있습니다.

        //hr.assign-hr-top
        div#search.no-padding(style="margin-bottom: 10px !important")
            h4.assign-q-title(style='display: inline-block; vertical-align: bottom')
            .ku-select.create-type.quest-type(style="margin-right: 10px; width: 180px")
                select(ng-model='select.year', ng-options='data as data.name for data in option.year',
                ng-change='click.changeYear()')

            .ku-select.create-type.quest-type(style="width: 180px")
                select(ng-model='select.grade', ng-options='data as data.name for data in option.grade',
                ng-change='click.changeGrade()')

            button.btn.ku-button.create-button(style='width: 120px !important; float: right' ,type='button', ng-click='click.removeQuestion(quest.no)')
                i.fa.fa-file-text.fa-neg.fa-1x &nbsp;&nbsp;엑셀파일 저장




        hr.assign-hr-top


        //div(ng-repeat='format in formats | orderBy : "order"').chart-frame
        //div(ng-repeat='format in formats | toArray : false | orderBy : order').chart-frame
        div(ng-repeat='format in formats | orderBy : "order"', ng-show="flag.statAvaliable").chart-frame
            //h4.chart-name {{ '&nbsp;&nbsp;&nbsp;' + ($index + 1) + '. ' + format.name }}
            h4.chart-name {{ '&nbsp;&nbsp;' + getMeta(format.type) + (format.order + 1) + '. ' + format.name }}
            canvas(ng-attr-id='{{ "Chart-" + $index }}', style='width: 50%; display: inline-block', height=320)
            h4(style='display: hidden') {{ click.setChartIdx(format, $index) }}
            //canvas(ng-attr-id='{{ "Chart-" + $index }}', style='width: 50%; display: inline-block')


        div.notify-nothing(ng-show="!flag.statAvaliable")
            br
            h4 아직 데이터가 없거나, 모두 주관식 문항인 설문입니다.
            br
            button.btn.ku-button(type='button', ng-click='click.goBack()')
                i.fa.fa-arrow-right.fa-neg.fa-12x &nbsp;뒤로 가기
            h4 &nbsp;

    link(rel='stylesheet', href='/public/stylesheets/statistics.css')
    link(rel='stylesheet', href='/public/stylesheets/assign.css')
    link(rel='stylesheet', href='/public/stylesheets/assign-c.css')
    link(rel='stylesheet', href='/public/stylesheets/survey.css')

    // Chart.js 파일 추가
    script(src='/public/bower/Chart.js/dist/Chart.bundle.min.js')
    //script(src='/public/javascripts/oldChart.min.js')
    script(src='/public/javascripts/controller/stat.js')
    script(src='/public/javascripts/factory/chartManager.js')