extends layout

block content

    div#main-container.container(ng-controller='statController')

        h4
        h4(style='display: inline') 설문 검색 :
        div.stat-search
            .ku-select.stat-year
                select(ng-model='select.year', ng-options='data as data.name for data in option.year',
                ng-change='click.updateYear()')

        hr.assign-hr-top
        canvas#testChart(width='400', height='400')

        div(ng-show='flag.listShow')

            i.fa.fa-window-restore.fa-2x
                i.notice &nbsp;&nbsp;검색결과

            table.table.stat-list
                        thead
                            tr
                                th.stat-th-large 이름
                                th.stat-th-large 시작일
                                th.stat-th-large 교수
                                //th 부서(학과)
                                th.stat-th 참여인원
                                th.stat-th 마감여부
                                //th Share
                                //th More
                        tbody
                            tr.stat-th-body(ng-click='click.goStat(survey.id)', ng-repeat='survey in option.survey')
                                th
                                    a.stat-list-href {{ survey.title }}
                                td {{ survey.closed_at }}
                                td {{ survey.professor }}
                                td {{ survey.participants_cnt }}명
                                //td {{ survey.participants_cnt }} 명
                                td
                                    i(ng-show='!survey.complete').fa.fa-times
                                    i(ng-show='survey.complete').fa.fa-check-circle-o
                        tfoot
                            tr
                                td(colspan='5')


    link(rel='stylesheet', href='/public/stylesheets/statistics.css')
    // Chart.js 파일 추가
    script(src='/public/bower/chart.js/dist/Chart.bundle.min.js')
    script(src='/public/javascripts/controller/stat.js')
    script(src='/public/javascripts/factory/chartManager.js')